
.outer-wrapper{
    width: 100%;
    height: 70px;
    /* background-color: #e9e7e7; */
    box-shadow: 0px 0px 8px #00000054;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 5px #3e3e3e42;
    z-index: 10;
    position: fixed;
    top: 0px;
    background: #242121;
    
}


.header-logo{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo > a{
    text-decoration: none;
    font-family: system-ui;
    font-size: 24px;
    color: green;
    font-weight: 700;
}

.Nav-left{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}


.Nav-left a{
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    color: black;
    font-family: system-ui;
    /* transition: all 0.5s ease; */
    outline: none;
    color: white;
    font-weight: 200;
    
}

.Nav-left a:hover{
    transition: all 0.5s ease;
    background: green;
    color: white;
    /* padding: 10px; */
    border-radius: 1px;
}


.Nav-right{
    width:42%;
    height: 100%;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
}

.Nav-right > div{
    margin-right: 5%;
    /* width:42%;
    height: 100%; */
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    gap: 20px;
}

.Nav-right span{
    font-size: 30px;
    /* color: #444343; */
    color: white;
}

.Nav-right span:hover{
    color: green;
}



.Nav-right > div > span:hover{
    cursor: pointer;
}

.Nav-left > div > .cart > span{
    cursor: pointer;
    font-size: 30px;

}

.login{
    padding: 10px 12px;
    border: none;
    /* background: #0000ff14; */
    background-color: white;
    border-radius: 7px;
    color: black;
}

.login:hover{
    cursor: pointer;
    background-color: #0000ff4d;
    color: white;
}

.register{
    padding: 10px 12px;
    border: none;
    background: rgb(27, 148, 0);
    border-radius: 7px;
    color: rgb(255, 255, 255);
}

.register:hover{
    background-color:  rgb(40, 215, 0) ;
    cursor: pointer;
}

.cart{
    position: relative;
    cursor: pointer;
}

.cart > .num{
    position: absolute;
    top: -14px;
    left: 17px;
    font-size: 10px;
    min-width: 19px;
    min-height: 19px;
    background: red;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: system-ui;
}

.cart .numHide{
    display: none;
}

.tab span{
    background: green;
    color: white;
    padding: 10px;
    border-radius: 27px;
    font-size: 25px;
    transition: all 0.5s ease;
}

.tab span:hover{
    cursor: pointer;
    color: white;
}



@media (max-width:500px) {
    .Nav-left{
        display: none;
    }
    .header-logo{
     display: flex;
    }

    .Nav-right{
        display: none;
    }

    .outer-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     
       
    }



.sidebar-left{
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: 21%;
    background: #242121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;

}

.sidebar-left-hide{
    display: none;
}

.content{
    display: flex;
    width: 100%;
    gap: 18px;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-left content span{
    font-size: 30px;
    /* color: #444343; */
    color: white;
}

.sidebar-left content span:hover{
    color: green;
}

.cancel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    height: 50%;

}

.cancel span{
    color: white;
    font-size: 36px;
    border-radius: 41px;
}

.content .cart a span{
    font-size: 35px;
}


.home{
    padding: 10px 12px;
    border: none;
    /* background: #0000ff14; */
    background-color: white;
    border-radius: 7px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.home:hover{
    cursor: pointer;
    background-color: #c5c5c54d;
    color: white;
}